.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  display: none;
}

.light {
  display: block;
}

/* When in dark mode, show .dark and hide .light */
.theme-dark .dark {
  display: block;
}
.theme-dark .light {
  display: none;
}
