.hoofdscherm {
  width: 100%;
  height: calc(100vh - 120px);
  border: 2px solid black;
  background-color: green;
  position: relative;
  display: flex;
  flex-direction: column;
}

.achtergrond {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.knoppenpaneel {
  
}

.knoppenboven {
  width: 100%;
  height: 50%;
  background-color: rgba(160, 60, 0, 0.7);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.knoppenonder {
  width: 100%;
  height: 50%;
  background-color: rgba(160, 60, 0, 0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.patternmaker {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 255, 128, 0.3); */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
