/* @font-face {
  font-family: "Castoro Italic";
  src: url("./fonts/Castoro-Italic.ttf") format("ttf"),
    url("./fonts/Castoro-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
} */

.background-layer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-layer {
  width: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-text {
  font-size: 2vw;
  color: white;
  font-family: "Castoro Italic", sans-serif;
}
