.footer {
  background-color: #4462ff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.contactBlock {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted rgb(38, 195, 38); */
}

.contactBlock a {
  display: flex;
}

.contactBlock a:hover {
  opacity: 0.4;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
